* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.full-wrap {
    display: grid;
    background-color: #070707;
    color: white;
    margin: 50px auto;
    grid-template-areas: 
    'cont-a cont-a cont-a'
     'cont-b cont-b cont-c'
     'cont-d cont-e cont-f';
}

.cont-a {
    grid-area: cont-a;
    border-top: 9px solid #5D6576;
    border-bottom: 18px solid #5D6576;
}

h1 { 
    padding: 10px 0 10px 20px;
    font-size: 1.5rem;
    color: #575E6C;
}

p {
    /* color: white; */
     padding-bottom: 10px; 
}

.title-padding {
    
    padding-top: 10px;
    width: 150px;
    
    
}

.title-padding p {
    justify-content: left; 
    font-size: small;
    
}

.sessions .title-padding div {
    position: relative;
    top: 7px;
    right: 8px;
}


.title-padding, :nth-child(2) {
/* position: relative;
right: 30px; */
text-align: right;
padding-bottom: 25px;
}

 .title-padding :nth-child(1) {
    padding-bottom: 20px;
    text-align: right;
} 

/* .title-padding :nth-child(2) {
    padding-bottom: 25px;
} */

.title-padding :nth-child(3) {
     padding-bottom: 27px; 
   
}

 .title-padding :nth-child(4) {
    position: relative;
    top: 20px; 
}  

.symbols :nth-child(1) {
    padding-bottom: 12px;
}

.symbols :nth-child(2) {
    position: relative;
    top: 10px;
}

.symbols :nth-child(3) {
    position: relative;
    padding-bottom: 35px;
    top: 1px;

}

.symbols :nth-child(4) {
    position: relative;
    top: -2px;
}  

.special-asd :nth-child(3) {
    position: relative;
    top: -20px;
}

.special-asd :nth-child(4) {
    position: relative;
    top: -38px;
}



.days {
    grid-area: days;
    font-size: .8em;
    border-left: 9px solid #5D6576;
}

.days div {
    padding: 53px 0 0 20px;
}

.days div p {
    padding-bottom: 30px;
    text-align: left;
    font-size: small;
}

.sessions {
    grid-area: sessions;
    display: flex;
}

.sessions .symbols {
    position: relative;
    right: 5px;
}

.symbols {

    position: relative;
    width: 30px;
    margin-top: 15px;
    
}

.symbols p {
    visibility: hidden;
}

.symbols div {
   height: 50px;

}


.tri {
        clip-path: polygon(44% 0, 61% 29%, 29% 29%);
        /*clip-path: polygon(46% 0, 63% 31%, 31% 31%);*/
        /*clip-path: polygon(50% 0%, 46% 36%, 53% 36%);*/
        grid-area: symbols;
         /*position: relative;
         top: 20px;
         right: 65px;
         margin-top: 5px;*/
         
        height: 30px;
        background-color: #20aa20;
}

.nu {
    grid-area: nu;
    display: flex;
}

.nu .symbols {
    position: relative;
    right: 15px;

}

.nu .title-padding div {
    position: relative;
    right: 20px;
    top: 8px;
}

.br {
    grid-area: br;
    display: flex;
}

.br .title-padding div {
    position: relative;
    top: 10px;
    right: 21px;
}

.br .symbols {
    top: 1px;
    right: 17px;
}

.br .symbols :nth-child(3) {
    position: relative;
    top: 2px;
}
.br .symbols :nth-child(4) {
    position: relative;
    top: -2px;
}



.asd {
    display: flex;
    grid-area: asd;
}

.asd .special-asd :nth-child(2) { 
    margin-top: 8px;
}

.asd .title-padding div :nth-child(4) {
    position: relative;
    bottom: 30px;
}

.asd .symbols div :nth-child(2) {
    position: relative;
    top: 1px;
    /* transform: rotateY(180deg); */
}
.asd .symbols div :nth-child(4) {
    position: relative;
    top: 10px;
}

.asd .title-padding .sec {
    position: relative;
    right: 40px;
}

.asd .symbols {
    position: relative;
    right: 35px;
}

    

.sec {
    grid-area: sec;
}

.goals {
    display: flex;
    text-align: center;
}

.g1c {
    grid-area: g1c;
}

.g1c .title-padding div {
    position: relative;
    right: 25px;
    top: 10px;
}

.g1c .symbols .tri {
    position: relative; 
        right: 20px;
}

.g1c .title-padding div :nth-child(2){
    position: relative;
    top: 35px;
}

.g1c .symbols :nth-child(3) {
    position: relative;
    top: 4px;
    transform: rotateY(180deg);
}

.g1c .symbols .tri :nth-child(4) {
    position: relative;
    top: 4px;
}


.g2c {
    grid-area: g2c;
}

.g2c .title-padding div {
    position: relative;
    right: 25px;
    top: 10px;
}

.g2c .symbols .tri {
    position: relative; 
        right: 20px;
}

.container-b {
     display: flex;
     grid-area: cont-b;
}

.cont-c {
    grid-area: cont-c;
    border-left: 9px solid #5D6576;
    font-size: x-small;
    background-color: aqua;
    }

    .cont-d {
        grid-area: cont-d;
        background-color: bisque;
    }

    .cont-e {
        grid-area: cont-e;
        background-color: crimson;
    }

    .cont-f {
        grid-area: cont-f;
        background-color: coral;
    }
