* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.small-text {
  font-size: small;
}
.days {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  height: 175px;
  margin-left: 10px;
  /* bottom: 65px; */
}
body {
  font-family: sans-serif;
}

.full-wrap {
  background-color: #071228;
  color: white;
  width: 98vw;
  max-width: 2100px;
  margin: 20vh auto 5vh auto;
  position: relative;
}
.tri {
  clip-path: polygon(44% 0, 61% 29%, 29% 29%);
  height: 30px;
  width: 30px;
  margin-top: 5px;
  background-color: #20aa20;
}

#cont-bc {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto auto;
  border-bottom: 50px solid #5d6576;
}
.cont-a {
  display: grid;
  grid-column: 1 / span 13;
  justify-content: space-between;
  border-top: 9px solid #5d6576;
  border-bottom: 15px solid #5d6576;
  height: 70px;
  background-color: #071228;
}
.cont-a h2 {
  /* padding: 10px 20px 15px 20px; */
  align-self: center;
  padding-left: 15px;
}

#digi-date-time-cont {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  color: white;
  align-items: center;
}
.cont-b {
  display: flex;
  grid-column: 1 / span 2;
  justify-content: space-around;
  border-right: 9px solid #5d6576;
  border-left: 9px solid #5d6576;
  border-bottom: 9px solid #5d6576;
}
.asd {
  width: 100px;
}
#border1 {
  position: absolute;
  border-top: 1px solid #5d6576;
  left: 110px;
  width: 50%;
  top: 160px;
  opacity: 0.5;
}
#border2 {
  position: absolute;
  border-top: 1px solid #5d6576;
  text-align: center;
  left: 110px;
  opacity: 0.5;
  top: 215px;
  width: 50%;
}
.title {
  width: 100px;
  margin: 15px 0 25px 0;
  text-align: center;
}
.tri-div {
  display: flex;
  margin: 0 0 20px 10px;
  /* width: 75px; */
  /* width: 80px; */
}
.tri-div div {
  width: 55px;
  text-align: right;
  font-size: small;
}

.asd .tri-div div {
  width: 70px;
}
/* .days {
    width: 100px;
} */
.days p {
  font-size: x-small;
  padding-left: 10px;
}
.hidden {
  visibility: hidden;
}
.title p {
  font-size: x-small;
}
.sec {
  display: flex;
}
.sec span {
  margin-right: 5px;
}
.g1c .tri-div {
  margin-left: -10px;
}
.g2c .tri-div {
  margin-left: -3px;
}
.cont-c {
  border-right: 9px solid #5d6576;
  border-bottom: 9px solid #5d6576;
}
.cont-c-title h2 {
  font-size: small;
  padding-top: 15px;
  padding-left: 25px;
}
.cont-c-title p {
  font-size: x-small;
  padding-left: 25px;
}
.sideway-text {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  grid-template-rows: auto auto auto;
  padding-top: 20px;
}
.sideway-text1 {
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 1 / span 1;
  transform: rotate(-90deg);
  width: 85px;
  font-size: xx-small;
  text-align: center;
  left: 40px;
  bottom: 12px;
}

.sideway-text2 {
  position: relative;
  grid-row: 2 / span 1;
  grid-column: 5 / span 1;
  transform: rotate(90deg);
  font-size: xx-small;
  text-align: center;
  right: 60px;
  width: 50px;
  bottom: 12px;
}
.cont-c-num {
  display: grid;
  position: relative;
  justify-content: space-between;
  right: 58px;
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
}
.squiggly-lines {
  display: flex;
  justify-content: center;
  position: relative;
  right: 24px;
  grid-column: 3 / span 1;
  grid-row: 2 / span 1;
}
.squiggly-lines img {
  width: 26vw;
}
.cont-c-num2 div {
  font-size: x-small;
}

.cont-d {
  grid-column: 1 / span 1;
  grid-row: 2 / span 1;
  border-left: 9px solid #5d6576;
  background-color: #071228;
}

.bottom-line {
  display: flex;
  align-items: flex-end;
  font-size: xx-small;
  height: 90px;
  width: 320px;
  margin: 0 auto;
  border-bottom: 2px solid white;
}
.cont-bars-nums {
  position: relative;
  display: flex;
  align-items: flex-end;
}
.cont-bars-num1 {
  margin-left: 20px;
}
.cont-bars-num2 {
  margin-left: 30px;
}
.cont-bars-num3 {
  margin-left: 32px;
}
.cont-bars-num4 {
  margin-left: 31px;
}
.cont-bars-num5 {
  margin-left: 31px;
}

.all-bars {
  width: 15px;
}
.aqua-bars {
  background-color: #01f4ff;
}
.usa-aqua-bar {
  height: 50px;
}

.usa-purple-bar {
  height: 50px;
}
.purple-bars {
  background-color: #7709f7;
}
.cont-e {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  border-left: 9px solid #5d6576;
  border-right: 9px solid #5d6576;
  background-color: #071228;
}
#buttons div button {
  display: block;
  width: 15px;
  height: 15px;
}
#buttons {
  display: flex;
  margin: 0 0 0 10px;
}
#buttons div {
  display: inline;
  margin-top: 120px;
}
#buttons img {
  display: inline-block;
  padding-left: 30px;
  margin: 0 auto;
}
.map-title h2 {
  font-size: small;
  padding-left: 10px;
  padding-top: 10px;
}
.map-title p {
  font-size: x-small;
  padding-left: 10px;
}
.txt-under-bar-graph {
  display: flex;
  justify-content: space-between;
  font-size: xx-small;
  width: 320px;
  margin: 0 auto;
}
.country-names {
  padding-top: 5px;
  width: 90px;
}
.country-names p {
  text-align: center;
}
.verticle-lines {
  background-color: white;
  height: 7px;
  width: 2px;
}
.bottom-text {
  display: flex;
  justify-content: center;
  margin: 20px auto 0 auto;
  font-size: xx-small;
  width: 320px;
}
.color-box1 {
  width: 10px;
  height: 10px;
  margin-right: 5px;
  background-color: #01f4ff;
}
.color-box2 {
  width: 10px;
  height: 10px;
  margin-left: 20px;
  margin-right: 5px;
  background-color: #7709f7;
}
.cont-f {
  grid-column: 3 / span 4;
  grid-row: 2 / span 1;
  border-right: 9px solid #5d6576;
  background-color: #071228;
}
.bottom-line2 {
  width: 385px;
}
.txt-under-bar-graph2 {
  width: 385px;
}

#sessionsTriRed {
  transform: rotate(180deg);
  position: relative;
  bottom: 22px;
}
#todayBr {
  position: relative;
}
#todayBrTriGreen {
  position: relative;
  display: none;
}
#todayBrTriRed {
  display: none;
  transform: rotate(180deg);
  background-color: red;
  position: relative;
  bottom: 22px;
}
#percentOne {
  position: relative;
  display: block;
  font-size: small;
  right: 10px;
}
#asdTriRed {
  position: relative;
  display: none;
  background-color: red;
  right: 4px;
  bottom: 21px;
  transform: rotate(180deg);
}
#asdTriGreen {
  /* position: relative; */
  /* display: none;  */
  background-color: green;
  width: 100px;
  text-align: right;
}
#asdTriRed2 {
  position: relative;
  display: none;
  background-color: red;
  bottom: 20px;
  right: 5px;
  transform: rotate(180deg);
}
#asdTriGreen2 {
  position: relative;
  display: none;
  background-color: green;
}
#nuTriRed {
  position: relative;
  display: none;
  background-color: red;
  bottom: 22px;
  right: 5px;
  transform: rotate(180deg);
}
#nuTriGreen {
  position: relative;
  display: none;
  background-color: green;
}

#usa-aqua-bar-motion {
  transition: height 2.5s;
}
#usa-purple-bar {
  transition: height 3.5s;
}
.nigeria-aqua-bar {
  height: 30px;
  background-color: aqua;
}
.nigeria-purple-bar {
  height: 20px;
}
.canada-aqua-bar {
  height: 45px;
  background-color: aqua;
}
.canada-purple-bar {
  height: 37px;
}

/* Sessions & Bounce Rate Bars */

#organic-aqua-bars {
  height: 30px;
  background-color: aqua;
}
#paid-purple-bar-motion {
  transition: height 3.5s;
}
#referal-aqua-bar-motion {
  transition: height 4.5s;
}
.direct-aqua-bar {
  background-color: #01f4ff;
  height: 30px;
}
.direct-purple-bar {
  background-color: #7709f7;
  height: 45px;
}
.social-aqua-bar {
  background-color: #01f4ff;
  height: 45px;
}
.social-purple-bar {
  background-color: #7709f7;
  height: 55px;
}
.email-aqua-bar {
  background-color: #01f4ff;
  height: 35px;
}
.email-purple-bar {
  background-color: #7709f7;
  height: 20px;
}

/* Footer */
footer {
  text-align: center;
  margin-bottom: 50px;
}

a {
  display: inline-block;
  margin-top: 10px;
  background-color: #5d6576;
  color: white;
  padding: 5px 7px;
  text-decoration: none;
  border-radius: 7px;
}

/* Mobile Styles */

#cont-b-mobile {
  display: none;
}

@media (max-width: 1250px) {
  #cont-bc {
    display: block;
  }

  #border1 {
    position: absolute;
    border-top: 1px solid #5d6576;
    left: 170px;
    width: 80%;
    top: 160px;
    opacity: 0.5;
  }
  #border2 {
    position: absolute;
    border-top: 1px solid #5d6576;
    text-align: center;
    left: 170px;
    opacity: 0.5;
    top: 215px;
    width: 80%;
  }
  .squiggly-lines img {
    width: 50vw;
  }
  .sideway-text {
    justify-content: center;
  }
  .sideway-text1,
  h2,
  p {
    text-align: center;
  }
  .cont-b .sessions {
    width: 10vw;
  }
  .cont-c {
    display: grid;
    justify-content: center;
    border-left: 9px solid #5d6576;
  }
  .squiggly-lines {
    right: 0;
  }

  .cont-d {
    border-right: 9px solid #5d6576;
  }

  .cont-e {
    border-top: 9px solid #5d6576;
    border-bottom: 9px solid #5d6576;
  }
  .cont-f {
    border-left: 9px solid #5d6576;
  }
}
.cont-b-mobile {
  display: none;
}

@media (max-width: 1245px) {
  .txt-under-bar-graph {
    width: 85vw !important;
    justify-content: space-evenly;
  }
  .bottom-line {
    justify-content: space-evenly !important;
    width: 85vw !important;
  }
  .cont-bars-nums {
    margin-left: 0 !important;
    width: 100px;
    display: flex;
    justify-content: center;
  }

  .cont-bars-num3 {
    /* margin-left: 5px !i; */
  }

  #buttons {
    margin-left: 0;
  }

  #buttons img {
    padding-left: 0;
    height: 20vh;
  }

  #buttons div button {
    position: relative;
    left: 30vw;
  }

  .country-names {
    width: 100px;
  }
}

/* Cell Phone Size Mobile */

@media (max-width: 920px) {
  .mobile-numbers div {
    font-size: x-small;
  }

  .cont-a h2 {
    font-size: 3vw;
  }
  .small-text {
    text-align: right;
    padding-top: 10px;
  }
  .mobile-numbers div {
    text-align: right;
  }

  #red-tri-sess-mobile {
    display: none;
    /* margin-bottom: -10px; */
  }

  #red-tri-nu-mobile {
    display: none;
  }

  #red-tri-br-mobile {
    display: none;
  }

  #red-tri-asd-mobile {
    display: none;
  }

  .cont-b-none {
    display: none;
  }

  .cont-b-mobile-display {
    display: block;
  }

  .cont-b-mobile {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(7, 1fr);
    border-bottom: 9px solid #5d6576;
    border-left: 9px solid #5d6576;
    border-right: 9px solid #5d6576;
  }
  #buttons div {
    position: relative;
    left: 50px;
  }
  #buttons img {
    margin: 0 auto;
  }

  .cont-d {
    border-bottom: 9px solid #5d6576;
  }

  .bottom-text {
    padding-bottom: 10px;
  }

  .cont-e {
    border-bottom: 9px solid #5d6576;
  }

  .hidden-mobile {
    /* display: grid; */
    visibility: hidden;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  #today {
    /* display: grid; */
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
  }
  #this-week {
    /* display: grid; */
    grid-column: 4 / span 1;
    grid-row: 1 / span 1;
  }
  #this-month {
    /* display: grid; */
    grid-column: 6 / span 1;
    grid-row: 1 / span 1;
  }

  .sessions-title {
    /* display: grid; */
    grid-column: 1 / span 1;
    grid-row: 2 / span 1;
  }

  .mobile-numbers-sessions-1 {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
  }

  .tri-mobile {
    clip-path: polygon(44% 0, 61% 29%, 29% 29%);
    height: 30px;
    width: 30px;
    margin-top: 5px;
    background-color: #20aa20;
  }

  .sessions-tri-mobile-1 {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
  }

  .mobile-numbers-sessions-2 {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
  }

  .sessions-tri-mobile-2 {
    grid-column: 5 / span 1;
    grid-row: 2 / span 1;
  }

  .mobile-numbers-sessions-3 {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
  }

  .sessions-tri-mobile-3 {
    grid-column: 7 / span 1;
    grid-row: 2 / span 1;
  }

  .tri-div div {
    width: 100px;
    text-align: right;
    font-size: small;
  }

  #todayBrTriRed,
  #todayBrTriGreen {
    display: block;
    position: static;
    height: 30px;
    width: 30px;
  }

  /* NEW USERS MOBILE */

  .nu-title {
    grid-column: 1 / span 1;
    grid-row: 3 / span 1;
  }

  .mobile-numbers-nu-1 {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
  }

  .nu-tri-mobile-1 {
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
  }

  .mobile-numbers-nu-2 {
    grid-column: 4 / span 1;
    grid-row: 3 / span 1;
  }

  .nu-tri-mobile-2 {
    grid-column: 5 / span 1;
    grid-row: 3 / span 1;
  }

  .mobile-numbers-nu-3 {
    grid-column: 6 / span 1;
    grid-row: 3 / span 1;
  }

  .nu-tri-mobile-3 {
    grid-column: 7 / span 1;
    grid-row: 3 / span 1;
  }

  /* Bounce Rate */

  .br-title {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
  }

  .mobile-numbers-br-1 {
    grid-column: 2 / span 1;
    grid-row: 4 / span 1;
  }

  .br-tri-mobile-1 {
    grid-column: 3 / span 1;
    grid-row: 4 / span 1;
  }

  .mobile-numbers-br-2 {
    grid-column: 4 / span 1;
    grid-row: 4 / span 1;
  }

  .br-tri-mobile-2 {
    grid-column: 5 / span 1;
    grid-row: 4 / span 1;
  }

  .mobile-numbers-br-3 {
    grid-row: 4 / span 1;
    grid-column: 6 / span 1;
  }

  .br-tri-mobile-3 {
    grid-row: 4 / span 1;
    grid-column: 7 / span 1;
  }

  .title {
    margin-top: 0;

    /* Average Session Duration */
  }
  .asd-title {
    grid-row: 5 / span 1;
    grid-column: 1 / span 1;
  }

  .mobile-numbers-asd-1 {
    grid-row: 5 / span 1;
    grid-column: 2 / span 1;
  }

  .asd-tri-mobile-1 {
    grid-row: 5 / span 1;
    grid-column: 3 / span 1;
  }

  .mobile-numbers-asd-2 {
    grid-row: 5 / span 1;
    grid-column: 4 / span 1;
  }

  .asd-tri-mobile-2 {
    grid-row: 5 / span 1;
    grid-column: 5 / span 1;
  }

  .mobile-numbers-asd-3 {
    grid-row: 5 / span 1;
    grid-column: 6 / span 1;
  }

  .asd-tri-mobile-3 {
    grid-row: 5 / span 1;
    grid-column: 7 / span 1;
  }

  .g1c-title {
    grid-row: 6 / span 1;
    grid-column: 1 / span 1;
  }

  .mobile-numbers-g1c-1 {
    grid-row: 6 / span 1;
    grid-column: 2 / span 1;
  }

  .g1c-tri-mobile-1 {
    grid-row: 6 / span 1;
    grid-column: 3 / span 1;
  }

  .mobile-numbers-g1c-2 {
    grid-row: 6 / span 1;
    grid-column: 4 / span 1;
  }

  .g1c-tri-mobile-2 {
    grid-row: 6 / span 1;
    grid-column: 5 / span 1;
  }

  .mobile-numbers-g1c-3 {
    grid-row: 6 / span 1;
    grid-column: 6 / span 1;
  }

  .g1c-tri-mobile-3 {
    grid-row: 6 / span 1;
    grid-column: 7 / span 1;
  }

  .g2c-title {
    grid-row: 7 / span 1;
    grid-column: 1 / span 1;
  }

  .mobile-numbers-g2c-1 {
    grid-row: 7 / span 1;
    grid-column: 2 / span 1;
  }

  .g2c-tri-mobile-1 {
    grid-row: 7 / span 1;
    grid-column: 3 / span 1;
  }

  .mobile-numbers-g2c-2 {
    grid-row: 7 / span 1;
    grid-column: 4 / span 1;
  }

  .g2c-tri-mobile-2 {
    grid-row: 7 / span 1;
    grid-column: 5 / span 1;
  }

  .mobile-numbers-g2c-3 {
    grid-row: 7 / span 1;
    grid-column: 6 / span 1;
  }

  .g2c-tri-mobile-3 {
    grid-row: 7 / span 1;
    grid-column: 7 / span 1;
  }
}
